<nz-layout>
  <nz-content>
    <div class="login-form-container">
      <div nz-row>
        <img class="imagen" src="assets/logo.svg" alt="" srcset="">
      </div>
      <div nz-row>
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your email!">
              <nz-input-group nzPrefixIcon="mail">
                <input type="email" nz-input formControlName="email" placeholder="Email" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                <input [type]="passwordVisible ? 'text' : 'password'" nz-input formControlName="password"
                  placeholder="Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" *ngIf="formulario"
            [disabled]="!validateForm.valid">Log in</button>
          Or
          <a >register now!</a>
        </form>
      </div>
    </div>
  </nz-content>
</nz-layout>
<!--TEMPLATE-->
<ng-template #suffixTemplate>
  <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
</ng-template>